# Copy to .env and fill what you need
#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
# --- Groq (use this OR OpenAI/Ollama) ---
USE_GROQ=1
GROQ_API_KEY="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"
GROQ_MODEL=llama-3.1-70b-versatile

